@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f5f8b;
}

.buttons {
 text-align: center;
}

.buttons button {
  font-family: "Lato", sans-serif;
  width: 100px;
  padding: 5px;
  margin: 20px 15px;
  border-radius: 5px;
}

